{{ template "base" . }}

{{ define "content" }}
  <section class="container">
    <div class="row">
      <div class="col">
        <h1>About page</h1>
        <p>This is about page: {{ index .StringMap "test" }}</p>
      </div>
    </div>
    <p>
      {{ if ne (index .StringMap "remote_ip") "" }}
        Your remote IP address is:
        {{ index .StringMap "remote_ip" }}
      {{ else }}
        I don't know your remote IP address yet. Visit the
        <a href="/">Home Page</a> so I can set it.
      {{ end }}
    </p>
  </section>
{{ end }}
