{{ template "base" . }}

{{ define "content" }}
  <section class="container">
    <div class="row">
      <div class="col">
        <h1>Home page</h1>
        <p>This is home page: {{ index .StringMap "test" }}</p>
      </div>
    </div>
  </section>
{{ end }}
